.app-wrapper {
    margin: 0 auto;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #ffffff;
}